.add-btn{
    margin: 40px 0 10px 0;
}
.do-td{
    display: flex;
    justify-content: space-around;
    transition: all 0.5s;
}
.do-td span:hover{
    scale: 1.1;
}
.searchInput , .searchButton{
    all: unset;
    padding: 10px;
    border: 1px solid lightgray;
}
.searchInput{
    border-radius: 0 10px 10px 0;
}
.searchButton{
    border-radius: 10px 0 0 10px;
    background-color: #0d6efd;
    color: white;
}
.searchButton:hover{
    background-color: #0b5ed7;
}
.accordion-item{
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: rgb(120 120 120 / 24%) 0px 5px 10px;
}
.accordion-button:focus{
    box-shadow: none !important;
}
.accordion-body{
    display: flex;
    justify-content: space-around;
}
.chart{
    width: 100%;
}